* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
a{
    text-decoration:none ;
    color: #ffffff;
}
header {
    height: 100vh;
    background-color:#24252a;
    color: #ffffff;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 15px 5%;
}

#logo{
    font-size: 40px;
}

nav ul li {
    display: inline-block;
    font-size: 20px;
}

#nav-links li{
    padding: 20px;
}

#nav-icons li {
    padding: 10px;
}

#hero {
    display: flex;
    height: calc(100vh - 94px);
}

/* left style */
#left {
width: 40%;
/* padding: 5% 5%; */
position: relative;
}

#left h1{
    font-size: 50px;
    padding: 10% 20%;
}

#left p {
    font-size: 12px;
    position: absolute;
    transform: rotate(-90deg);
    left: 0;
    top: 25%;
}

#info {
    width: 100%;
    background: #eee;
    height: 170px;
    color: black;
    position: absolute;
    bottom: 0; 
    padding-left: 20%;
    padding-top: 50px;
}

#right {
width: 60%;
display: flex;
padding:5% 5% 5% 10% ;
}

/* Right */
#right img {
width: 110%;
transform: rotate(-40deg);
}

#right #image {
    width: 500px;
}

#image-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 350px;
}

image-info ul{
    margin-top: 100px;
}

#pricing {
    position: relative;
    left: -40px;
    text-align: center;
}

#image-info #pricing p {
    font-size: 11px;
}

#image-info ul li {
    padding: 10px;
}

#links a:hover {
    position: relative;
}

#links a:not(:last-child)::after {
    content: "|";
    padding-left: 10px;
}